body {
    background-color: #000;
    color: #fff;
}
#gameOver {
    position: fixed;
    background-color: #000;
    top: 20%;
    left: calc(50% - 150px);
    width: 300px;
    border-radius: 20px;
    opacity: 0.7;
}
#gameOverText {
    font-size:64pt;
    opacity:1;
}
#credit {
  color: #555;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
#insertCoin {
  position: absolute;
  top: 20%;
  left: calc(50% - 400px);
  text-align: center;
  width: 800px;
  height: 100px;
  color: #fff;
  font-size:64pt;
  font: share-regular, 'Arial Narrow', sans-serif;
  text-decoration: blink;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.transparent {
  display: none;
}
.menu {
  border-radius: 20px;
  border: 1px solid #fff;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  color: #fff;
  font-size: 32pt;
  padding-top: 1em;
}
.menuButton {
  cursor: pointer;
  width: 300px;
  height: 100px;
}
#playButton {
  position: absolute;
  top: 40%;
  right: 55%;
}
#controlsButton {
  position: absolute;
  top: 40%;
  left: 55%;
}
#backButton {
  position: absolute;
  top: 70%;
  width: 200px;
  height: 100px;
  left: calc(50% - 100px);
}
#controls {
  padding-top: 5px;
  position: absolute;
  top: 10%;
  left: calc(50% - 500px);
  width: 1000px;
  padding-bottom: 10px;
}